div.card.card-custom-background{
    background-image: url('/storage/images/postBackground.jpg');
    color: #010000;
    font-size: 1.2em;
    margin: 5px;

    

}

.card-custom-background-link{

    text-decoration: none;
    color: #1ff0a7;
    
    
}

img {
    height: 300px;
}

body {
    background-image: url('/storage/images/home.jpg');  
    background-position: center top;
    background-attachment: fixed;


    
    background-repeat: no-repeat;
    background-size: cover;
}

div.chart{
    background-color: azure;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div.profile_pic{
    margin: 20px auto;
}


.jumbo{
    color: #1ff0a7;
    font-size: 1.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

div.jumbotron{
    
}

a.pills{
    background-color: #1ff0a7;
    
    
    color: black;
    margin-left: 15px;
    
    
    border-radius: 50px;
    
    padding: 5px;
    width: 100px;
    height: 10px;
    text-align: justify;
    text-justify: inter-word; 
    text-decoration: none;
    
}


.home-login{
background-color: #E6BA79;   
text-decoration: none; 
color: black;

margin-left: 100px;
margin-top: 100px;
padding-block: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 20px;

}

.news-jumbo{
    color: #1ff0a7;
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    
}
div.news-home{
    margin:40px;

}

/* show Page */
/*post showblade */
div.container.post{
    background-image: url('/storage/images/showPostBg.jpg');
    
    
    
}



.card.post{
    background-image: url('/storage/images/showPostBg.jpg');
    color: #1ff0a7;
    margin: 5px;
}


.post-image{

    height: 500px;
    width: auto;

}
.div.card-footer{
    color: #1ff0a7;
}


