/* NAAAAAAAAAAAAAAAAAVVVVVV*/
body{
    padding: 100px;
}
.nav-brand{
    height: 30px;
    width: 30px;
}

a.collapseGameNav{
    color: #1ff0a7;
    display: flex;
    align-items: center;
    margin-right: 20px; 
    
}

.game-span{
    margin-left: 5px;
}

div.card.card-custom-background{
    background: #606c88;
    background: -webkit-linear-gradient(173deg, #606c88 0%, #030303 50%, #000000 100%);
    background: linear-gradient(173deg, #606c88 0%, #030303 50%, #000000 100%);
    font-size: 1.2em;
    margin: 5px;
    color: white;
    
   

}
/* Nav 2 Elements Alighment  */

#collapseGameNav, #collapseAnimeNav {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of items to keep them in a single line */
    list-style: none; /* Remove the default list-style */
    display: none; /* Prevent Navbar appearing then disappearing */
  }
  
  .collapseGameNav, .collapseAnimeNav {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust the margin as needed to create space between items */
  }
  
  /* Adjust the width and height of the images and spans as per your preference */
  .nav-brand {
    width: 30px;
    height: 30px;
    margin-right: 5px; /* Adjust the margin as needed to create space between image and text */
  }
  

  
  /* Ensure that the navbar items are in a single row */
  #collapseGameNav li,
  #collapseAnimeNav li {
    display: inline-block;
    
  }


 
 /* Nav 2 Elements Alighment  */ 

.card-custom-background-link{

    text-decoration: none;
    color: #1ff0a7;
    
    
}

img {
    height: 300px;
}

body {
    background-image: url('/storage/images/home.jpg');  
    background-position: center top;
    background-attachment: fixed;


    
    background-repeat: no-repeat;
    background-size: cover;
}

div.chart{
    background-color: azure;
    border-radius: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

div.profile_pic{
    margin: 20px auto;
}


.jumbo{
    color: #1ff0a7;
    font-size: 1.8em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}



a.pills{
    background-color: #1ff0a7;
    
    
    color: black;
    margin-left: 15px;
    
    
    border-radius: 50px;
    
    padding: 5px;
    width: 100px;
    height: 10px;
    text-align: justify;
    text-justify: inter-word; 
    text-decoration: none;
    
}


.home-login{
background-color: #E6BA79;   
text-decoration: none; 
color: black;

margin-left: 100px;
margin-top: 100px;
padding-block: 10px;
padding-right: 10px;
padding-left: 10px;
border-radius: 20px;

}

.news-jumbo{
    color: #1ff0a7;
    font-size: 2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    
}
div.news-home{
    margin:40px;

}

/* show Page */
/*post showblade */
div.container.post{
    background-image: url('/storage/images/showPostBg.jpg');
    
    
    
}



.card.post{
    background-image: url('/storage/images/showPostBg.jpg');
    color: #1ff0a7;
    margin: 5px;
}


.post-image{

    height: 500px;
    width: auto;

}
.div.card-footer{
    color: #1ff0a7;
}

/*include the tag at last  for some reason i guess iam still learning css*/ 

.inline-h5 h5{
    display: inline;

}


/* PROFILE SECTION 
*****************************************************************************************************************************************************

**********************************************************************************************************************************************************/


.profilePic{
    height: 500px;
    width: 400px;
}
/* ADMIN PANEL */

.adminPanel{
    color: #1ff0a7;
    background-image: url('/storage//images/showPostBg.jpg'); 
    background-size: auto;
    
    
}
.adminSettingsImage{
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}

.card.adminPanel{
    background-color: none;
    color: #1ff0a7;
}

.list.adminPanel{
    background-color: none;
}

a.admin-panel-lists{
    text-decoration: none;
    color: #1ff0a7;
    margin: 10px;
}


/* GENERAL CSS*/


h1.title{
    color: white;
}



/*  ADD QUIZ */

div.quiz-form{
    background-image: url('/storage//images/showPostBg.jpg');
    color: #1ff0a7;
    
}


/* Manage Roles */

/* Modal */

